main{
    padding-bottom: 0;
}

/*formulario*/

.formulario {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formulario form {
    width: 80%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.step { 
    display: none; 
}

.step.active { 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    background: var(--formularios);
    border-radius: 0.938rem 0.938rem 0 0;
}

.flecha{
    position: relative;
    top: 2rem;
    left: -40%;
}

.flecha i{
    color: var(--verdeOscuro);
    font-size: 200%;
}

.flecha i:hover{
    color: var(--verdeClaro);
}

.step p{
    margin: 0 0 0.625rem 0;
    font-size: 0.7rem;
}

/*barra*/

.progress-container {
    width: 20%;
    height: 0.625rem;
    background: var(--verdeClaro);
    border-radius: 1.25rem;
}
  
.progress-bar {
    height: 100%;
    background: var(--verdeOscuro);
    border-radius: 1.25rem;
}

#myBar1{
    width: 25%;
}

#myBar2{
    width: 50%;
}

#myBar3{
    width: 75%;
}

#myBar4{
    width: 100%;
}

/*inputs*/

.medio{
    width: 100%;
    margin: 2rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.medio input{
    width: 50%;
    margin-top: 0.7rem;
    text-align: center;
}

.grupo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.escribir {
    width: 40%;
    margin: 1.875rem 2.5rem;
}

label{
    color: var(--verdeOscuro);
    font-size: 1rem;
}

input {
    width: 100%;
    height: 1.875rem;
    background: none;
    color: var(--gris);
    font-size: 1rem;
    outline: none;
    border: none;
    border-bottom: 0.125rem solid var(--linea-input);
}

.privacidad {
    width: 90%;
    margin: 0 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

#privacy{
    width: 1.25rem;
}

/*botones*/

.boton {
    width: 30%;
    height: 2.5rem;
    margin: 2rem 0 2rem 0;
    background: var(--verdeClaro);
    border-radius: 1.563rem;
    font-size: 1.125rem;
    color: var(--blanco);
    cursor: pointer;
    outline: none;
    border: none;
}

.boton:hover {
    background-color: var(--hover);
    transition: .3s;
}

#bb{
    margin-bottom: 5rem;
}

.popup { 
    padding: 1.25rem; 
    display: none; 
    text-align: center;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background: var(--popup); 
    border-radius: 1rem;
}

.close-btn {
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
    background: none;
    color: var(--gris);
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
}

.close-btn:hover {
    background-color: rgba(0, 0, 0, 0);
}


@media (max-width: 1120px) {
    .escribir {
        margin-left: 2rem;
        margin-right: 2rem; 
    }
}


@media (max-width: 920px) {

    #titulo{
        margin-top: 3rem;
    }

    .step.active{
        background: none;
    }

    .flecha{
        position: absolute;
        top: 0rem;
        left: 0rem;
    }

    .progress-container {
        width: 40%;
        margin-bottom: 3rem;
    }

    .grupo{
        flex-direction: column;
        align-items: center;
    }

    .escribir, .medio {
        width: 90%; 
        margin: 1.875rem 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
    }

    .medio input{
        width: 100%;
        text-align: center;
    }

    .boton {
        width: 60%;
    }
}


