.formulario {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.formulario form {
    width: 80%;
    padding: 2rem;
    margin-top: 3rem;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    background: var(--formularios);
    border-radius: 0.938rem 0.938rem 0 0;
}

.form-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

label {
    color: var(--verdeOscuro);
    font-size: 1rem;
}

input {
    width: 100%;
    height: 1.875rem;
    background: none;
    color: var(--gris);
    font-size: 1rem;
    outline: none;
    border: none;
    border-bottom: 0.125rem solid var(--linea-input);
}

input:focus {
    border-color: var(--verdeClaro);
}

input::placeholder {
    color: var(--textos-placeholder);
}

.error-message {
    color: var(--negro);
    font-size: 0.9rem;
    margin-top: 0.25rem;
    display: none; /* Oculto por defecto */
}

button {
    width: 30%;
    height: 2.5rem;
    margin: 2rem 0;
    background: var(--verdeClaro);
    border-radius: 1.563rem;
    font-size: 1.125rem;
    color: var(--blanco);
    cursor: pointer;
    outline: none;
    border: none;
}

button:hover {
    background-color: var(--hover);
    transition: .3s;
}

#logoutButton {
    width: 30%;
    height: 2.5rem;
    margin: 2rem 0;
    margin-top: 1rem;
    background: var(--verdeOscuro);
    border-radius: 1.563rem;
    font-size: 1.125rem;
    color: var(--blanco);
    cursor: pointer;
    outline: none;
    border: none;
}

#logoutButton:hover {
    background-color: var(--hover);
    transition: .3s;
}

/* Mensaje de estado */
#statusMessage {
    margin-top: 1rem;
    text-align: center;
    font-size: 1rem;
    color: var(--gris);
}

@media (max-width: 920px) {

    .formulario form {
        width: 100%;
        background: none;
    }

    .button {
        width: 60%;
    }
}