.faq-header {
    margin: 0;
    margin-bottom: 2rem;
}

.faq-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;
}

.faq-item {
    padding: 0.625rem 1.25rem;
    padding-bottom: 0.625rem;
    background-color: var(--formularios);
    border: 0.063 solid var(--h3);
    border-radius: 1rem;
}

.faq-question {
    padding: 0.938rem 0;
    display: flex;
    justify-content: space-between;
    color: var(--color-principal); 
    font-size: 1.5rem;
    cursor: pointer;
}

.faq-answer {
    padding: 0.625rem 0;
    display: none;
    color: var(--gris);
}

.faq-question span {
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    right: 3.5rem;
    color: var(--verdeOscuro);
    font-size: 1.5rem;
}

.faq-item.active .faq-answer {
    display: block;
}

.faq-item.active .faq-question span {
    transform: rotate(45deg); /* Rota el ícono de "+" a "x" */
}

@media (min-width: 768px) {
    .faq-container {
        grid-template-columns: 1fr 1fr; 
    }

    .faq-question span {
        position: relative;
        right: 0.05rem;
    }
}
