.gas-container {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
}

.gas-item {
    padding: 0.625rem 1.25rem;
    background-color: var(--formularios);
    border-radius: 1rem;
}

.gas-icon {
    width: 12.5rem;
    height: auto;
    border-radius: 0.5rem;
}

.gas-question {
    display: flex;
    justify-content: space-between;
    color: var(--color-principal); 
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: bold;
    align-items: center;
}

.gas-question h3 {
    width: 90%;
}

.gas-question span{
    width: 5%;
    align-self: center;
}

.gas-info {
    padding: 0.625rem 0;
    display: none;
    color: var(--gris);
}

.toggle-sign {
    font-size: 2rem;  
    font-weight: normal;
    color: var(--verdeOscuro);
    transition: transform 0.3s ease;  
}

.gas-item.active .gas-info {
    display: block;
}

.gas-item.active .toggle-sign {
    transform: rotate(45deg); 
}


@media (max-width: 768px) {
    .gas-container {
        grid-template-columns: 1fr; 
    }
}
