body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--verdeOscuro);
}

.login-container {
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.flecha {
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-size: 3rem;
    color: var(--beige);
    text-decoration: none;
}
.logo {
    position: absolute;
    top: 3rem;
    left: 3rem;
}

.logo img{
    width: 150%;
    height: 150%;
}

.formulario {
    height: 100%;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2rem 0 1rem rgba(0, 0, 0, 0.2);     
}

h1 {
    color: var(--beige);
}

.formulario form {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.escribir {
    width: 100%;
    margin: 0.625rem 0;
    border-bottom: 0.125rem solid var(--verdeClaro);
}

.escribir label {
    color: var(--beige);
    font-size: 1rem;
}

.escribir input {
    width: 100%;
    height: 1.875rem;
    background: none;
    font-size: 1rem;
    color: var(--beige);
    outline: none;
    border: none;
}

.boton {
    width: 70%;
    height: 2.5rem;
    margin: 2.5rem 0 1.25rem 0;
    background: var(--verdeClaro);
    color: var(--blanco);
    font-size: 1.125rem;
    border-radius: 1.563rem;
    cursor: pointer;
    outline: none;
    border: none;
    align-self: center;
}

.boton:hover {
    background-color: var(--hover);
    transition: .3s;
}

.recordar {
    color: var(--beige);
    cursor: pointer;
    text-align: center;
}

.recordar a {
    color: var(--beige);
    text-decoration: underline;
    font-weight: bold;
}

.recordar a:hover {
    color: var(--verdeClaro);
    transition: .3s;
}

.foto {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto img {
    width: 70%;
    position: relative;
    top: -10%;
}


@media (max-width: 1500px) {
    
    .login-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .formulario {
        width: 100%;
        padding: 0;
        align-items: center;
        box-shadow: none;
    }

    .foto img {
        display: none;
    }
}
