body {
    height: 100vh;
    background: #3a5335;
}

header {
    height: 15%;
    display: block;

}

#enlace{
    width: 50%;
    height: 30%;

}

#flecha{
    position: relative;
    top: 3rem;
    left: 3rem;
    color: var(--beige);

}

.logo {
    position: relative;
    top: -10%;
}

.logo img {
    width: 100%;
    height: auto;
    padding-left: 10%;
}

.container {
    flex: 1;
    display: flex;
}

.formulario {
    width: 60%;
    height: 110%;
    padding: 1.25rem;
    position: relative;
    top: -17.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0.625rem 0 0.625rem rgba(0,0,0,.5);
}

.formulario h1 {
    margin-bottom: 1.25rem;
    padding-left: 10%;
    font-size: 2rem;
    color: var(--beige);
}

.formulario form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.escribir {
    width: 80%;
    margin: 0.625rem 0;
    border-bottom: 0.125rem solid var(--verdeClaro);
}

.escribir label {
    color: var(--beige);
    font-size: 1rem;
}

.escribir input {
    width: 100%;
    height: 1.875rem;
    background: none;
    font-size: 1rem;
    color: var(--beige);
    outline: none;
    border: none;
}

.boton {
    width: 70%;
    height: 2.5rem;
    margin: 2.5rem 0 1.25rem 0;
    background: var(--verdeClaro);
    color: var(--blanco);
    font-size: 1.125rem;
    border-radius: 1.563rem;
    cursor: pointer;
    outline: none;
    border: none;
}

.boton:hover {
    background-color: var(--hover);
    transition: .3s;
}

.recordar {
    color: var(--beige);
    cursor: pointer;
}

.recordar a {
    color: var(--beige);
    text-decoration: underline;
    font-weight: bold;
}

.recordar a:hover {
    color: var(--verdeClaro);
    transition: .3s;
}

.foto {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto img {
    width: 70%;
    position: relative;
    top: -10%;
}

@media (max-width: 800px) {

    header{
        height: 50%;
    }

    .logo {
        width: 50%;
        padding: 0;
        margin: 2rem auto;
        display: block;
        }

    .logo img{
        padding: 0;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .formulario {
        padding: 0;
        width: 100%;
        box-shadow: none;
    }
    .foto img {
        display: none;
    }
}
