.sensor-form {
  width: 30%; 
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  background-color: var(--popup);
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

#submitButton{
  width: 40%;
}

@media (max-width: 720px) {
  .sensor-form {
    width: 30%;
  }
}