/*COLORES*/
:root {
    --verdeOscuro: #3a5335; /*h1, menu, footer*/
    --verdeClaro: #87a08b; /*h3, botones, elementos sutiles*/
    --beige: #ddd2ba; /*fondo, texto menu y footer*/
    --gris: #3b3b3b; /*h2, texto principal*/
    --blanco: #fff; /*texto botones, pagina sensores*/
    --negro: #000; /*elementos destacados*/
    --hover: rgba(135, 160, 139, 0.7); /*hover botones*/
    --formularios: rgba(255, 255, 255, 0.3); 
    --popup: rgba(250, 250, 250, 0.75);
    --linea-input: rgba(135, 160, 139, 0.35);
    --textos-placeholder: rgba(135, 160, 139, 0.5);
}

/*FUENTES*/
@font-face {
    font-family: 'FONTSPRING DEMO - The Seasons';
    src: url('/assets/fonts/transfonter.org-20241023-125212/FONTSPRINGDEMO-TheSeasonsRegular.woff2') format('woff2'),
        url('/assets/fonts/transfonter.org-20241023-125212/FONTSPRINGDEMO-TheSeasonsRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html{
    min-height: 100%;
    position: relative;
}

body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--gris);
    background-color: var(--beige);
    display: flex;
    flex-direction: column;
}

/*HEADER*/

header {
    height: 6.4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--verdeOscuro);
}

.logo {
    width: 12.5rem;
    height: auto;
}

.logo a{
    display: inline-block;
    cursor: pointer;
}

.logo a img {
    width: 100%;
    height: auto;
}

.menu-toggle {
    margin-left: auto;
    display: none;
    background: none;
    color: var(--beige);
    font-size: 2rem;
    border: none;
    cursor: pointer;
}

.menu-toggle:hover{
    background-color: initial;
    color: var(--verdeClaro);
}

.nav{
    display: flex;
}

.nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; 
    list-style-type: none;
}

.nav ul li a {
    padding: 0.875rem 1rem;
    display: block;
    text-align: center;
    color: var(--beige);
    text-decoration: none;
}

.nav ul li a:hover {
    color: var(--verdeClaro);
}

.nav ul li a:hover i {
    color: var(--verdeClaro);
}

.user {
    padding: 2%;
    font-size: 200%;
}

.user a i{
    color: var(--beige);
}

.user a i:hover{
    color: var(--verdeClaro);
}

/*MAIN*/

main {
    padding: 3.125rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'FONTSPRING DEMO - The Seasons', serif;
    color: var(--verdeOscuro);
    font-size: 4rem;
}

h2 {
    margin: 0 1rem;
    text-align: center;
    font-family: 'FONTSPRING DEMO - The Seasons', serif;
    color: var(--gris);
    font-size: 3rem;
    font-style: normal;
    align-self: center;
}

h3 {
    margin: 2rem 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--verdeOscuro);
    font-size: 1.2rem;
}

h4 {
    margin: 1rem 0;
    color: var(--gris);
    font-size: 0.95rem;
    font-weight: normal;
}

button {
    padding: 0.625rem 1.25rem;
    background-color: var(--verdeClaro);
    color: var(--blanco);
    font-size: 1rem;
    border: none;
    border-radius: 1.25rem;
    cursor: pointer;
}

button:hover {
    background-color: var(--hover); 
}

/*FOOTER*/

footer {
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--verdeOscuro);
    color: var(--blanco);
}

footer p {
    width: 90%;
}

@media (max-width: 1041px){

    /*HEADER*/

    .menu-toggle {
        display: block;
    }

    .nav{
        display: none;
    }

    .nav.active{
        width: 50%;
        top: 6.25rem;
        right: 0;
        display: block;
        position: absolute;
        background-color: var(--verdeOscuro);
        z-index: 1000;
    }

    .nav ul{
        padding: 0;
        flex-direction: column;
    }

    .nav ul li{
        padding: 1rem;
        text-align: center;
    }

    .user{
        padding-top: 2.6%;
    }
}


@media (max-width: 842px){
    main{
        padding: 2rem 2.5rem 1rem 2.5rem;
    }

    h1 {
        font-size: 3rem;
        padding-bottom: 1rem;
    }
    
    h2{
        font-size: 2.5rem;
    }

    footer p{
        font-size: 0.8rem;
    }
}
