:root {
    --verdeOscuro: #3a5335; /*h1, menu, footer*/
    --verdeClaro: #87a08b; /*h3, botones, elementos sutiles*/
    --beige: #ddd2ba; /*fondo, texto menu y footer*/
    --gris: #3b3b3b; /*h2, texto principal*/
    --blanco: #fff; /*texto botones, pagina sensores*/
    --negro: #000; /*elementos destacados*/
    --hover: rgba(135, 160, 139, 0.7); /*hover botones*/
    --formularios: rgba(255, 255, 255, 0.3); 
    --popup: rgba(250, 250, 250, 0.75);
    --linea-input: rgba(135, 160, 139, 0.35);
    --textos-placeholder: rgba(135, 160, 139, 0.5);
}

@font-face {
    font-family: 'FONTSPRING DEMO - The Seasons';
    src: url('/assets/fonts/transfonter.org-20241023-125212/FONTSPRINGDEMO-TheSeasonsRegular.woff2') format('woff2'),
        url('/assets/fonts/transfonter.org-20241023-125212/FONTSPRINGDEMO-TheSeasonsRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html{
    min-height: 100%;
    position: relative;
}

body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--gris);
    background-color: var(--beige);
    display: flex;
    flex-direction: column;
}

main {
    padding: 3.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'FONTSPRING DEMO - The Seasons', serif;
    color: var(--verdeOscuro);
    font-size: 3rem;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: var(--gris);
    font-size: 2rem;
    font-style: normal;
}

h3 {
    color: var(--verdeClaro);
    font-size: 1.5rem;
}

button {
    padding: 0.625rem 1.25rem;
    background-color: var(--verdeClaro);
    color: var(--blanco);
    font-size: 1rem;
    border: none;
    border-radius: 1.25rem;
    cursor: pointer;
}

button:hover {
    background-color:var(--hover); 
}

