.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 3rem;
}

.paquete{
    padding: 1.5rem;
    flex: 3;
    display: flex;
    flex-direction: column;
    color: var(--blanco);
    background-color: var(--verdeOscuro);
    border-radius: 1rem;
}

.titulo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h3{
    margin: 1rem 0 0 2rem;
    color: var(--blanco);
    font-size: 1.5rem;
}

.precio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    margin: 1rem 0;
}

#euro{
    margin: 0;
    color: var(--beige);
    font-size: 3rem;
}

#mes{
    margin: 2rem 0 0 0;
}

.item{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.item i{
    align-self: center;
    background: var(--beige);
    color: var(--verdeOscuro);
    border-radius: 45%;
}

.texto{
    flex: 2;
    color: var(--verdeOscuro);
}

.texto p{
    margin: 0 0 1rem 0;
}

.botonCompra{
    width: 100%;
    margin: 1rem 0;
}

@media (max-width: 842px){
    .container {
        position: relative;
        flex-direction: column;
        gap: 3rem;
    }

    .texto{
        text-align: center;
    }

    .botonCompra{
        width: 80%;
    }
}